* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    color: green;
    background: black;
    font-size: .75rem;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0 0 10px 0;
    text-align: center;
    letter-spacing: 2px;
}

.grid {
    width: 200px;
    height: 200px;
    border: solid 2px #FFF;
    display: flex;
    flex-wrap: wrap;
    box-sizing: content-box;
}

.start {
    margin: 0 0 10px 0;
    font-size: inherit;
    font-family: inherit;
    padding: 1em;
    cursor: pointer;
}

.score-display {
    margin: 10px 0 5px 0;
    letter-spacing: 1px;
}

.score {
    margin: 0;
}

.cell {
    width: 20px;
    height: 20px;
}

.snake {
    width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 15px;
}

.apple {
    width: 20px;
    height: 20px;
    background-color: #FFF;
    border-radius: 15px;
}

@media (min-width: 600px) {

    body {
        font-size: 1rem;
    }

    .grid {
        width: 400px;
        height: 400px;
    }

    .cell {
        width: 40px;
        height: 40px;
    }

    .snake {
        width: 40px;
        height: 40px;
        background-color: green;
        border-radius: 15px;
    }

    .apple {
        width: 40px;
        height: 40px;
    }
}

